@content-background-color: #f7f7f7;

footer {
    background-color: @content-background-color;
    margin-bottom: 15px;
}

footer.uk-section-small {
    padding-top: 0;
    padding-bottom: 0;
}

#system {
    display: none;
}
