doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='google-signin-client_id', content='755367666560-pkfr2nki51nehvsjsos0munoc65vqr82.apps.googleusercontent.com')
        title Dashboard
        script(src='../assets/css.bundle.js')
        script(src='https://apis.google.com/js/platform.js', async='', defer='')
    body
        // HEADER
        header#top-head.uk-position-fixed
            .uk-container.uk-container-expand.uk-background-primary
                nav.uk-navbar.uk-light(data-uk-navbar='mode:click; duration: 250')
                    .uk-navbar-right
                        ul.uk-navbar-nav
                            li
                                a(href='#', data-uk-icon='icon:user', title='Your profile', data-uk-tooltip='')
                            li
                                a(href='#', data-uk-icon='icon:  sign-out', title='Sign Out', data-uk-tooltip='')
                            li
                                a.uk-navbar-toggle(data-uk-toggle='', data-uk-navbar-toggle-icon='', href='#offcanvas-nav', title='Offcanvas', data-uk-tooltip='')
        // /HEADER
        // LEFT BAR
        aside#left-col.uk-light(class='uk-visible@m')
            .left-logo.uk-flex.uk-flex-middle
                img.custom-logo(src='../assets/img/dashboard-logo.svg', alt='')
            .left-content-box.content-box-dark
                img.uk-border-circle.profile-img(src='../assets/img/avatar.svg', alt='')
                h4.uk-text-center.uk-margin-remove-vertical.text-light John Doe
                .uk-position-relative.uk-text-center.uk-display-block
                    a.uk-text-small.uk-text-muted.uk-display-block.uk-text-center(href='#', data-uk-icon='icon: triangle-down; ratio: 0.7') Admin
                    // user dropdown
                    .uk-dropdown.user-drop(data-uk-dropdown='mode: click; pos: bottom-center; animation: uk-animation-slide-bottom-small; duration: 150')
                        ul.uk-nav.uk-dropdown-nav.uk-text-left
                            li
                                a(href='#')
                                    span(data-uk-icon='icon: image')
                                    |  Your Data
                            li.uk-nav-divider
                            li
                                a(href='#')
                                    span(data-uk-icon='icon: sign-out')
                                    |  Sign Out
                    // /user dropdown
            .left-nav-wrap
                ul.uk-nav.uk-nav-default.uk-nav-parent-icon(data-uk-nav='')
                    li.uk-nav-header ACTIONS
                    li
                        a(href='#')
                            span.uk-margin-small-right(data-uk-icon='icon: comments')
                            | Messages
                    li
                        a(href='#')
                            span.uk-margin-small-right(data-uk-icon='icon: users')
                            | Friends
            .bar-bottom
                ul.uk-subnav.uk-flex.uk-flex-center.uk-child-width-1-5(data-uk-grid='')
                    li
                        a.uk-icon-link(href='#', data-uk-icon='icon: home', title='Home', data-uk-tooltip='')
                    li
                        a.uk-icon-link(href='#', data-uk-icon='icon: social', title='Social', data-uk-tooltip='')
                    li
                        a.uk-icon-link(href='#', data-uk-icon='icon:user', title='Your profile', data-uk-tooltip='')
                    li
                        a.uk-icon-link(href='#', data-uk-tooltip='Sign out', data-uk-icon='icon: sign-out')
        // /LEFT BAR
        // CONTENT
        #content(data-uk-height-viewport='expand: true')
            .uk-container.uk-container-expand
                hr
                .uk-grid.uk-grid-medium(data-uk-grid='')
                    h1 main content
                    .g-signin2(data-onsuccess='onSignIn')
        footer.uk-section.uk-section-small.uk-text-center
            hr
            p.uk-text-small.uk-text-center
                | Copyright 2020 -
                a(href='https://github.com/zzseba78/Kick-Off') Created by KickOff
                |  | Built with
                a(href='http://getuikit.com', title='Visit UIkit 3 site', target='_blank', data-uk-tooltip='')
                    span(data-uk-icon='uikit')
        // /CONTENT
        // OFFCANVAS
        #offcanvas-nav(data-uk-offcanvas='flip: true; overlay: true')
            .uk-offcanvas-bar.uk-offcanvas-bar-animation.uk-offcanvas-slide
                button.uk-offcanvas-close.uk-close.uk-icon(type='button', data-uk-close='')
                ul.uk-nav.uk-nav-default
                    li.uk-active
                        a(href='#')
                            span.uk-margin-small-right(data-uk-icon='icon: comments')
                            | Messages
                    li
                        a(href='#')
                            span.uk-margin-small-right(data-uk-icon='icon: users')
                            | Friends
        // /OFFCANVAS
        // JS FILES
        script(src='../assets/js.bundle.js')
